.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .buy-content {
    display: flex;
    flex-direction: column;
  }
  
  .buy-card {
    background-color: white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 28px;
    border-radius: 18px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  mat-form-field {
    margin: 5px 0;
  }