<app-title titleText="Portfolio"></app-title>
<div style="margin-left: auto; margin-right: auto;">
  <span style="color: #A7A7A7;">Last refreshed: {{ lastRefreshedTimeString }}</span>
  <button style="margin-left: 20px;"
        (click)="refreshPortfolio();"
        mat-raised-button
        color="primary"
        [disabled]="isLoading"
        [class.spinner]="isLoading"
      >
        REFRESH
        </button>
</div>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Stocks">
    <ng-template matTabContent>
      <app-stock-table
        [holdings]="userPortfolio.stockHoldings"
        (openDialogEvent)="openDialog($event)"
      ></app-stock-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Mutual Funds">
    <ng-template matTabContent>
      <app-mf-table
        [holdings]="userPortfolio.mfHoldings"
        (openDialogEvent)="openDialog($event)"
      ></app-mf-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Bonds">
    <ng-template matTabContent>
      <app-bond-table
        [holdings]="userPortfolio.bondHoldings"
        (openDialogEvent)="openDialog($event)"
      ></app-bond-table>
    </ng-template>
  </mat-tab>
</mat-tab-group>
