<div class="register-card">
  <form [formGroup]="registerDetails" (ngSubmit)="onSubmit()">
    <div class="register-content">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          placeholder="Username"
          formControlName="userId"
        />
        <mat-error
          *ngIf="
            registerDetails.get('userId')?.invalid &&
            registerDetails.get('userId')?.hasError('required')
          "
        >
          Username is required.
        </mat-error>
        <mat-error
          *ngIf="
            (registerDetails.get('userId')?.invalid &&
              registerDetails.get('userId')?.hasError('minlength')) ||
            registerDetails.get('userId')?.hasError('maxlength')
          "
        >
          Username should be 3 - 10 characters long.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" formControlName="name" />
        <mat-error
          *ngIf="
            registerDetails.get('name')?.invalid &&
            registerDetails.get('name')?.hasError('required')
          "
        >
          Name is required.
        </mat-error>
        <mat-error
          *ngIf="
            registerDetails.get('name')?.invalid &&
            registerDetails.get('name')?.hasError('minlength')
          "
        >
          Name should be at least 3 characters long.
        </mat-error>
        <mat-error
          *ngIf="
            registerDetails.get('name')?.invalid &&
            registerDetails.get('name')?.hasError('pattern')
          "
        >
          Please enter a valid name.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          placeholder="Email"
          formControlName="email"
        />
        <mat-error
          *ngIf="
            registerDetails.get('email')?.invalid &&
            registerDetails.get('email')?.hasError('required')
          "
        >
          Email is required.
        </mat-error>
        <mat-error
          *ngIf="
            registerDetails.get('email')?.invalid &&
            registerDetails.get('email')?.hasError('email')
          "
        >
          Please enter a valid email address.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Password"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
          type="button"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            registerDetails.get('password')?.invalid &&
            registerDetails.get('password')?.hasError('required')
          "
        >
          Password is required.
        </mat-error>
        <mat-error
          *ngIf="
            (registerDetails.get('password')?.invalid &&
              registerDetails.get('password')?.hasError('minlength')) ||
            registerDetails.get('password')?.hasError('maxlength')
          "
        >
          Password should be 8 - 15 characters long.
        </mat-error>
        <mat-error
          *ngIf="
            registerDetails.get('password')?.invalid &&
            registerDetails.get('password')?.hasError('pattern')
          "
        >
          Password should contain atleast 1 uppercase letter, 1 lowercase letter
          and 1 symbol.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Account Number</mat-label>
        <input
          matInput
          type="text"
          placeholder="1234567890"
          formControlName="accNo"
        />
        <mat-error
          *ngIf="
            registerDetails.get('accNo')?.invalid &&
            registerDetails.get('accNo')?.hasError('required')
          "
        >
          Account number is required.
        </mat-error>
        <mat-error
          *ngIf="
            registerDetails.get('accNo')?.invalid &&
            registerDetails.get('accNo')?.hasError('pattern')
          "
        >
          Account number should be 10 digits.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select a bank</mat-label>
        <mat-select formControlName="bankName">
          <mat-option value="CITI">CITI</mat-option>
          <mat-option value="American Express">American Express</mat-option>
          <mat-option value="HDFC">HDFC</mat-option>
          <mat-option value="ICICI">ICICI</mat-option>
          <mat-option value="Axis">Axis</mat-option>
          <mat-option value="Standard Chartered">Standard Chartered</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            registerDetails.get('bankName')?.invalid &&
            registerDetails.get('bankName')?.hasError('required')
          "
        >
          Bank name is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select the account type</mat-label>
        <mat-select formControlName="accType">
          <mat-option value="Savings">Savings</mat-option>
          <mat-option value="Current">Current</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            registerDetails.get('accType')?.invalid &&
            registerDetails.get('accType')?.hasError('required')
          "
        >
          Account type is required.
        </mat-error>
      </mat-form-field>
      <!-- <mat-error *ngIf="!registerValid"
        >User details are invalid! Please try again!</mat-error
      > -->

      <button
        class="form-button"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="registerDetails.invalid || isLoading"
        [class.sc-btn-spinner]="isLoading"
      >
        Register
      </button>
    </div>
  </form>
</div>
