.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  width: 95%;
  max-width: 1200px;
}

.pindown {
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  margin: 0 auto;
}
