.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  width: 95%;

  background-color: white;
  border-radius: 18px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.mat-paginator {
  border-radius: 18px;
}

table {
  margin: auto 10px;
}

.mat-column-name,
.mat-column-code {
  font-weight: 500;
}
