.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.preferences-content {
  display: flex;
  flex-direction: column;
}

.preferences-card {
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 28px;
  border-radius: 18px;
  max-width: 400px;
  margin: 0 auto;
}

mat-form-field {
  margin: 5px 0;
}

#preferences {

    box-sizing: content-box;

    font-family:"Fidelity Sans","Arial","sans-serif";

    margin:0;

    padding:0;

    line-height:1.5em;

    color:#000;

    font-size:32px;

    text-align: center;

}



label {

    font-size: larger;

}

span {

    color: red;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    width: 95%;
  
    background-color: white;
    border-radius: 18px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  }
  
  .mat-paginator {
    border-radius: 18px;
  }
  
  table {
    margin: auto 10px;
  }
  
  .mat-column-name,
  .mat-column-code {
    font-weight: 500;
  }
  
  .portfolio-overview {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
  }
  
  @media only screen and (max-width: 700px) {
    .overview {
      flex-direction: column;
    }
  }
  
  .portfolio-card {
    background-color: white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 12px;
    border-radius: 18px;
  }
  
  .portfolio-card-content {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 5px 0;
  }
  
  .red {
    color: rgba(160, 7, 7, 0.877);
  }
  
  .green {
    color: rgb(7, 124, 42);
  }
  
  