.login-content {
  display: flex;
  flex-direction: column;
}

.login-card {
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 28px;
  border-radius: 18px;
  max-width: 400px;
  margin: 0 auto;
}

mat-form-field {
  margin: 5px 0;
}

.form-button {
  margin-top: 32px;
}

.form-error-text {
  text-align: center;
  margin-bottom: 1em;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
