<div class="login-card">
  <form [formGroup]="loginDetails" (ngSubmit)="onSubmit()">
    <div class="login-content">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          placeholder="Username"
          formControlName="username"
        />
        <mat-error *ngIf="loginDetails.get('username')?.hasError('required')">
          Please enter your username.
        </mat-error>
        <mat-error
          *ngIf="
            (loginDetails.get('username')?.invalid &&
              loginDetails.get('username')?.hasError('minlength')) ||
            loginDetails.get('username')?.hasError('maxlength')
          "
        >
          Username should be 3 - 10 chracters long.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Password"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
          type="button"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="loginDetails.get('password')?.hasError('required')">
          Please enter your password.
        </mat-error>
        <mat-error
          *ngIf="
            (loginDetails.get('password')?.invalid &&
              loginDetails.get('password')?.hasError('minlength')) ||
            loginDetails.get('password')?.hasError('maxlength')
          "
        >
          Password should be 3 - 10 characters long
        </mat-error>
      </mat-form-field>
      <mat-progress-spinner style="margin-left: auto; margin-right: auto;" mode="indeterminate" *ngIf="isLoading" [diameter]="25">
      </mat-progress-spinner>
      <span>
        <mat-error *ngIf="!loginValid"
          >User details are invalid! Please try again!</mat-error
        >
      </span>
      <br>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="loginDetails.invalid || isLoading"
      >
        LOGIN
      </button>
    </div>
  </form>
</div>
