<main>
  <div class="home-nav flex-row flex-center">
    <a class="home-nav-link" routerLink="/market-place">Marketplace</a>
    <span class="light">x</span>
    <a class="home-nav-link" routerLink="/login">Login</a>
    <span class="light">x</span>
    <a class="home-nav-link" routerLink="/register">Register</a>
  </div>

  <div class="header-box flex-col flex-center">
    <div class="logo-container flex-row flex-center">
      <span class="logo-text-small">Small</span>

      <span class="logo-text-change">Change™</span>
    </div>
    <span class="logo-undertext">it's smol.</span>
  </div>

  <div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</main>
