.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.home-nav {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  gap: 20px;
}

.light {
  opacity: 0.5;
}

.home-nav-link {
  text-decoration: none;
}
.home-nav-link:hover {
  text-decoration: underline;
}
.home-nav-link:visited {
  color: inherit;
}

.header-box {
  margin-top: 240px;
  margin-bottom: 240px;
  gap: 50px;
}

.logo-container {
  font-family: Poppins;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: -0.3rem;
}

.logo-undertext {
  font-size: 1rem;
}

.home-footer-container {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  gap: 20px;
}

.pindown {
  color: black !important;
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  margin: 0 auto 10px auto;
}

//
//
//

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #ffffff;
  overflow: visible;
}

.background span {
  width: 49vmin;
  height: 49vmin;
  border-radius: 49vmin;
  // backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #fbe14f;
  top: 17%;
  left: 82%;
  animation-duration: 218s;
  animation-delay: -46s;
  transform-origin: 13vw 21vh;
  box-shadow: 98vmin 0 13.185803418513558vmin currentColor;
}
.background span:nth-child(1) {
  color: #fbe14f;
  top: 70%;
  left: 73%;
  animation-duration: 202s;
  animation-delay: -169s;
  transform-origin: -23vw 14vh;
  box-shadow: 98vmin 0 12.573791576884616vmin currentColor;
}
.background span:nth-child(2) {
  color: #4834fe;
  top: 81%;
  left: 88%;
  animation-duration: 309s;
  animation-delay: -66s;
  transform-origin: 25vw 18vh;
  box-shadow: 98vmin 0 12.606389674550957vmin currentColor;
}
.background span:nth-child(3) {
  color: #4834fe;
  top: 22%;
  left: 46%;
  animation-duration: 312s;
  animation-delay: -130s;
  transform-origin: -23vw -13vh;
  box-shadow: -98vmin 0 13.013186139827647vmin currentColor;
}
.background span:nth-child(4) {
  color: #fbe14f;
  top: 32%;
  left: 8%;
  animation-duration: 253s;
  animation-delay: -97s;
  transform-origin: -12vw -13vh;
  box-shadow: 98vmin 0 12.91160106134555vmin currentColor;
}
.background span:nth-child(5) {
  color: #fbe14f;
  top: 30%;
  left: 32%;
  animation-duration: 182s;
  animation-delay: -208s;
  transform-origin: 15vw -13vh;
  box-shadow: 98vmin 0 13.013247426925192vmin currentColor;
}
.background span:nth-child(6) {
  color: #fe49ba;
  top: 95%;
  left: 55%;
  animation-duration: 35s;
  animation-delay: -419s;
  transform-origin: -4vw 23vh;
  box-shadow: -98vmin 0 13.249413287537564vmin currentColor;
}
.background span:nth-child(7) {
  color: #fe49ba;
  top: 69%;
  left: 75%;
  animation-duration: 380s;
  animation-delay: -82s;
  transform-origin: 5vw 8vh;
  box-shadow: 98vmin 0 12.838432115133108vmin currentColor;
}
.background span:nth-child(8) {
  color: #fe49ba;
  top: 15%;
  left: 20%;
  animation-duration: 30s;
  animation-delay: -46s;
  transform-origin: 25vw 4vh;
  box-shadow: 98vmin 0 12.702288327181726vmin currentColor;
}
.background span:nth-child(9) {
  color: #fe49ba;
  top: 18%;
  left: 27%;
  animation-duration: 20s;
  animation-delay: -328s;
  transform-origin: -3vw -11vh;
  box-shadow: -98vmin 0 12.37927752937678vmin currentColor;
}
.background span:nth-child(10) {
  color: #4834fe;
  top: 52%;
  left: 76%;
  animation-duration: 398s;
  animation-delay: -244s;
  transform-origin: 11vw -7vh;
  box-shadow: -98vmin 0 12.616747279553389vmin currentColor;
}
.background span:nth-child(11) {
  color: #4834fe;
  top: 35%;
  left: 52%;
  animation-duration: 213s;
  animation-delay: -17s;
  transform-origin: -9vw -20vh;
  box-shadow: 98vmin 0 12.380484693938179vmin currentColor;
}
.background span:nth-child(12) {
  color: #fbe14f;
  top: 66%;
  left: 74%;
  animation-duration: 164s;
  animation-delay: -55s;
  transform-origin: 0vw 10vh;
  box-shadow: -98vmin 0 12.878648445139579vmin currentColor;
}
.background span:nth-child(13) {
  color: #4834fe;
  top: 59%;
  left: 13%;
  animation-duration: 117s;
  animation-delay: -11s;
  transform-origin: -15vw 23vh;
  box-shadow: -98vmin 0 12.371243942975559vmin currentColor;
}
.background span:nth-child(14) {
  color: #4834fe;
  top: 27%;
  left: 85%;
  animation-duration: 420s;
  animation-delay: -96s;
  transform-origin: -16vw -4vh;
  box-shadow: -98vmin 0 12.359910973418174vmin currentColor;
}
.background span:nth-child(15) {
  color: #fe49ba;
  top: 8%;
  left: 61%;
  animation-duration: 10s;
  animation-delay: -74s;
  transform-origin: -17vw 10vh;
  box-shadow: -98vmin 0 12.649367894120639vmin currentColor;
}
.background span:nth-child(16) {
  color: #fe49ba;
  top: 73%;
  left: 28%;
  animation-duration: 319s;
  animation-delay: -218s;
  transform-origin: -20vw -18vh;
  box-shadow: -98vmin 0 12.440134002098707vmin currentColor;
}
.background span:nth-child(17) {
  color: #fe49ba;
  top: 35%;
  left: 70%;
  animation-duration: 134s;
  animation-delay: -396s;
  transform-origin: -3vw 2vh;
  box-shadow: 98vmin 0 13.19190443368729vmin currentColor;
}
.background span:nth-child(18) {
  color: #fe49ba;
  top: 70%;
  left: 36%;
  animation-duration: 102s;
  animation-delay: -24s;
  transform-origin: 21vw 22vh;
  box-shadow: 98vmin 0 12.998444451974077vmin currentColor;
}
.background span:nth-child(19) {
  color: #fe49ba;
  top: 92%;
  left: 4%;
  animation-duration: 285s;
  animation-delay: -80s;
  transform-origin: 21vw 21vh;
  box-shadow: -98vmin 0 12.51634379420001vmin currentColor;
}
.background span:nth-child(20) {
  color: #4834fe;
  top: 47%;
  left: 41%;
  animation-duration: 383s;
  animation-delay: -203s;
  transform-origin: 16vw 4vh;
  box-shadow: 98vmin 0 12.313467570655385vmin currentColor;
}
.background span:nth-child(21) {
  color: #4834fe;
  top: 90%;
  left: 5%;
  animation-duration: 27s;
  animation-delay: -293s;
  transform-origin: -23vw 20vh;
  box-shadow: 98vmin 0 12.371622354346675vmin currentColor;
}
.background span:nth-child(22) {
  color: #fe49ba;
  top: 89%;
  left: 37%;
  animation-duration: 164s;
  animation-delay: -290s;
  transform-origin: 4vw -3vh;
  box-shadow: 98vmin 0 12.916535206741907vmin currentColor;
}
.background span:nth-child(23) {
  color: #fe49ba;
  top: 73%;
  left: 76%;
  animation-duration: 20s;
  animation-delay: -181s;
  transform-origin: -22vw 4vh;
  box-shadow: 98vmin 0 12.596360359558934vmin currentColor;
}

//
//
//

.background {
  z-index: -1 !important;
}

.background span {
  width: 25rem !important;
  height: 25rem !important;
  border-radius: 25rem !important;
}
