<app-title titleText="Welcome"></app-title>

<main>
  <div class="intro">
    <h1>TRADING</h1>
    <button>Learn More</button>
  </div>
  <div class="achievements">
    <div class="work">
      <i class="fas fa-atom"></i>
      <p class="work-heading">Scalping</p>
      <p class="work-text">
        Specializes in profiting even with small price changes. It can be done
        several times in a day.
      </p>
    </div>
    <div class="work">
      <i class="fas fa-skiing"></i>
      <p class="work-heading">Day Trading</p>
      <p class="work-text">
        Form of trade involves buying and selling stocks in a single day and
        requires proficiency in market matters and a good understanding of
        market volatility.
      </p>
    </div>
    <div class="work">
      <i class="fas fa-ethernet"></i>
      <p class="work-heading">Swing Trading</p>
      <p class="work-text">
        Used to capitalize on short-term stock patterns and to earn gains from
        stock within a few days of purchasing it.
      </p>
    </div>
  </div>
  <div class="about-me">
    <div class="about-me-text">
      <h2>About Trading</h2>
      <p>
        Trading is one of the most profitable activities on the Internet. Every
        day, billions are earned and lost at the click of a mouse by people who
        trade online. As a trader, you trade in financial instruments such as
        stocks, currency pairs, and index funds.
      </p>
    </div>
    <img src="https://cdn.wallpapersafari.com/78/70/DYcA8i.jpg" alt="me" />
  </div>
</main>
