footer {
  display: flex;
  margin: 100px 10px 10px 10px;

  justify-content: center;
}

span {
  font-size: 1rem;
  color: rgb(85, 85, 85);
}

.footer-text {
  font-weight: 500;
}

.footer-symbol {
  margin: 0 20px;
  opacity: 0.7;
}
