<div class="container">
  <div
    class="title"
    [ngClass]="{
      warning: data.type == 'warning' || data.type == 'error',
      success: data.type == 'success',
      alert: data.type == 'alert'
    }"
  >
    <mat-icon *ngIf="data.type == 'warning' || data.type == 'error'" class="w"
      >warning</mat-icon
    >
    <mat-icon *ngIf="data.type == 'success'" class="s">check</mat-icon>
    <mat-icon *ngIf="data.type == 'alert'" class="a">info</mat-icon>

    <span>{{ data.type | uppercase }}:</span>
  </div>
  <span class="message">{{ data.message }}</span>
</div>
