.refresh-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.refresh-btn-container a {
  color: #666;
}

.refresh-btn-text-container {
  display: flex;
  flex-direction: column;
}

.refresh-btn-text {
  font-size: 0.7rem;
  line-height: 0.7rem;
}

.refresh-btn-time {
  font-size: 0.9rem;
  line-height: 0.9rem;
}
