<p class="title">Log In</p>
<div class="login-card">
  <form [formGroup]="loginDetails" (ngSubmit)="onSubmit()">
    <div class="login-content">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          placeholder="Username"
          formControlName="username"
        />
        <mat-error
          *ngIf="
            !loginDetails.get('username')?.valid &&
            !loginDetails.get('username')?.hasError('required')
          "
        >
          Username should be alphanumeric within 10 characters!
        </mat-error>
        <mat-error *ngIf="loginDetails.get('username')?.hasError('required')">
          Please enter a valid username!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Password"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
          type="button"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <span>
        <mat-error *ngIf="!loginValid"
          >User details are invalid! Please try again!</mat-error
        >
      </span>
      <button type="submit" mat-raised-button color="primary">LOGIN</button>
    </div>
  </form>
</div>
