<div class="toolbar" color="primary">
  <div class="flex-row-no-wrap">
    <span routerLink="/home" class="logo hide-on-small">SmallChange</span>
    <span routerLink="/home" class="logo show-on-small">SC</span>
    <span class="logo-superscript">™</span>
  </div>
  <div class="flex-row-wrap">
    <div *ngFor="let navLink of navLinks" class="flex-row-no-wrap">
      <a mat-button routerLink="{{ navLink.url }}">{{ navLink.name }}</a>
    </div>
    <button
      *ngIf="isLoggedIn"
      mat-mini-fab
      color="fab-color"
      aria-label=""
      [matMenuTriggerFor]="menu"
      (click)="updateUserAccounts()"
    >
      {{ userInitials | uppercase }}
    </button>
  </div>
</div>

<mat-menu #accounts="matMenu">
  <button
    mat-menu-item
    *ngFor="let acc of userAccounts"
    (click)="onAccountClick(acc.accNo)"
  >
    XXXX{{ acc?.accNo.toString().slice(-4) }}-{{ acc?.bankName }}-{{
      acc?.accType
    }}
  </button>
  <button mat-menu-item (click)="this.router.navigateByUrl('add-account')">Add Bank Account...</button>
</mat-menu>

<mat-menu #menu="matMenu">
  <div class="user-details">
    <div class="user-image" [ngStyle]="{ backgroundColor: getUserBgColor() }">
      {{ userInitials }}
    </div>
    <p class="user-name" *ngIf="currentUser != null">
      {{
        currentUser != null
          ? currentUser.firstName + " " + currentUser.lastName
          : ""
      }}
    </p>
  </div>
  <mat-divider></mat-divider>
  <button
    *ngIf="userAccounts.length > 0"
    mat-menu-item
    [matMenuTriggerFor]="accounts"
  >
    Bank Account
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLink="/trade-history">Trade History</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
