<div class="toolbar" color="primary">
  <div class="flex-row-no-wrap">
    <span routerLink="/home" class="logo hide-on-small">SmallChange</span>
    <span routerLink="/home" class="logo show-on-small">SC</span>
    <span class="logo-superscript">™</span>
  </div>
  <div class="flex-row-wrap">
    <div *ngFor="let navLink of navLinks" class="flex-row-no-wrap">
      <a mat-button routerLink="{{ navLink.url }}">{{ navLink.name }}</a>
    </div>
    <button
      *ngIf="isLoggedIn"
      mat-mini-fab
      color="fab-color"
      aria-label=""
      [matMenuTriggerFor]="menu"
    >
      {{ currentUser.getInitials() }}
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <div class="user-details">
    <div class="user-image">{{ currentUser.getInitials() }}</div>
    <p class="user-name">
      {{ getUserDetail("firstName") + " " + getUserDetail("lastName") }}
    </p>
  </div>
  <mat-divider></mat-divider>
  <!-- <button mat-menu-item routerLink="/home">Home(test)</button>
  <mat-divider></mat-divider> -->
  <button mat-menu-item routerLink="/trade-history">Trade History</button>
  <mat-divider></mat-divider>
  <!-- <button mat-menu-item routerLink="/preferences">Preferences</button> -->
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
