#profileImage {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #512DA8;
  font-size: 35px;
  color: #fff;
  text-align: center;
  line-height: 75px;
  margin: 20px 0;
}

.user-actions-card {
  background-color: white;
  position: absolute;
  left: 80%;
  margin-top: 45px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 28px;
  border-radius: 18px;
  max-width: 400px;
  margin: 0 auto;
}
