#profileImage {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #512DA8;
  font-size: 35px;
  color: rgb(236, 236, 226);
  margin-left: auto;
  margin-right: auto;
  line-height: 75px;
}

#profileImageContainer {
  width: 95%;
}

.user-actions-card {
  background-color: white;
  width: 400px;
  position:absolute;
  top: 80px;
  right:3%;
  text-align: center;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}
