<div>
  <div class="index-title">
    <span class="index-name">{{ indexData.name || "Company_Name" }}</span>
    <span class="index-code">{{
      "(" + indexData.code + ")" || "(CODE)" | uppercase
    }}</span>
  </div>
  <span class="index-assetclass">
    <!-- @TODO: Make sure asset class data enterd is separated by spaces -->
    {{
      data.index_type == "stock"
        ? indexData.stockType
        : data.index_type == "mf"
        ? indexData.mfType
        : data.index_type == "bond"
        ? indexData.bondType
        : ("" | snakeToTitle)
    }}
  </span>
  <span *ngIf="indexData.exchangeName" class="index-assetclass">
    {{ "- " + indexData.exchangeName | uppercase }}
  </span>
</div>

<mat-divider></mat-divider>

<div class="index-description">
  <div *ngIf="indexData.currentPrice" class="index-desc-row">
    <span class="index-desc-label">Current Price:</span>
    <span class="index-desc-value">{{
      indexData.currentPrice | currency: "USD"
    }}</span>
  </div>
  <div *ngIf="indexData.interestRate" class="index-desc-row">
    <span class="index-desc-label">Interest:</span>
    <span class="index-desc-value">{{ indexData.interestRate }}%</span>
  </div>
  <div *ngIf="indexData.quantity" class="index-desc-row">
    <span class="index-desc-label">Owned Units:</span>
    <span class="index-desc-value">{{ indexData.quantity }} units</span>
  </div>
  <div *ngIf="indexData.durationInMonths" class="index-desc-row">
    <span class="index-desc-label">Duration:</span>
    <span class="index-desc-value"
      >{{ indexData.durationInMonths }} months</span
    >
  </div>
</div>

<mat-divider></mat-divider>

<mat-tab-group mat-align-tabs="center" dynamicHeight>
  <mat-tab label="BUY" class="buy-tab">
    <ng-template matTabContent>
      <mat-form-field class="" appearance="outline">
        <mat-label>Quantity</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="orderQuantity"
          required
          min="0"
          width="100%"
          placeholder="0"
        />
      </mat-form-field>

      <div
        *ngIf="orderQuantity > 0 && indexData.currentPrice"
        class="index-desc-row"
      >
        <span class="index-desc-label"
          >{{
            (indexData.currentPrice | currency: "USD") +
              "/unit × " +
              orderQuantity
          }}
        </span>
        <span class="index-desc-value">
          {{ orderQuantity * indexData.currentPrice | currency: "USD" }}
        </span>
      </div>

      <button
        mat-raised-button
        class="buysell-button"
        color="primary"
        type="button"
        [disabled]="orderQuantity <= 0 || orderQuantity == null"
        (click)="onBuyIndex(orderQuantity)"
      >
        PURCHASE
      </button>
    </ng-template>
  </mat-tab>

  <mat-tab label="SELL" *ngIf="indexData.quantity > 0" class="sell-tab">
    <ng-template matTabContent>
      <mat-form-field class="" appearance="outline">
        <mat-label>Quantity</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="orderQuantity"
          required
          min="0"
          max="{{ indexData.quantity }}"
          width="100%"
          placeholder="0"
        />
      </mat-form-field>

      <div
        *ngIf="orderQuantity > 0 && indexData.currentPrice"
        class="index-desc-row"
      >
        <span class="index-desc-label"
          >{{
            (indexData.currentPrice | currency: "USD") +
              "/unit × " +
              orderQuantity
          }}
        </span>
        <span class="index-desc-value">
          {{ orderQuantity * indexData.currentPrice | currency: "USD" }}
        </span>
      </div>

      <button
        mat-raised-button
        class="buysell-button"
        color="primary"
        type="button"
        [disabled]="
          orderQuantity <= 0 ||
          orderQuantity > indexData.quantity ||
          orderQuantity == null
        "
        (click)="onSellIndex(orderQuantity)"
      >
        SELL
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>
