<div>
  <div class="index-title">
    <span class="index-name">{{
      infoDialogData.data.name || "Company_Name"
    }}</span>
    <span class="index-code">{{
      "(" + infoDialogData.data.code + ")" || "(CODE)" | uppercase
    }}</span>
  </div>
  <span class="index-assetclass">
    <!-- @TODO: Make sure asset class data enterd is separated by spaces -->
    {{
      infoDialogData.index_type == "stock"
        ? infoDialogData.data.stockType
        : infoDialogData.index_type == "mf"
        ? infoDialogData.data.mfType
        : infoDialogData.index_type == "bond"
        ? infoDialogData.data.bondType
        : ("" | snakeToTitle)
    }}
  </span>
  <span *ngIf="infoDialogData.data.exchangeName" class="index-assetclass">
    {{ "- " + infoDialogData.data.exchangeName | uppercase }}
  </span>
</div>

<mat-divider></mat-divider>

<div class="index-description">
  <div *ngIf="infoDialogData.data.currentPrice" class="index-desc-row">
    <span class="index-desc-label">Current Price:</span>
    <span class="index-desc-value">{{
      infoDialogData.data.currentPrice | currency: "USD"
    }}</span>
  </div>
  <div *ngIf="infoDialogData.data.interestRate" class="index-desc-row">
    <span class="index-desc-label">Interest:</span>
    <span class="index-desc-value"
      >{{ infoDialogData.data.interestRate }}%</span
    >
  </div>
  <div *ngIf="infoDialogData.data.quantity" class="index-desc-row">
    <span class="index-desc-label">Owned Units:</span>
    <span class="index-desc-value"
      >{{ infoDialogData.data.quantity }} units</span
    >
  </div>
  <div *ngIf="infoDialogData.data.durationInMonths" class="index-desc-row">
    <span class="index-desc-label">Duration:</span>
    <span class="index-desc-value"
      >{{ infoDialogData.data.durationInMonths }} months</span
    >
  </div>
</div>

<mat-divider></mat-divider>

<mat-tab-group mat-align-tabs="center" dynamicHeight>
  <mat-tab label="BUY" class="buy-tab">
    <ng-template matTabContent>
      <mat-form-field class="" appearance="outline">
        <mat-label>Quantity</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="orderQuantity"
          required
          min="0"
          width="100%"
          placeholder="0"
        />
      </mat-form-field>

      <div
        *ngIf="orderQuantity > 0 && infoDialogData.data.currentPrice"
        class="index-desc-row"
      >
        <span class="index-desc-label"
          >{{
            (infoDialogData.data.currentPrice | currency: "USD") +
              "/unit × " +
              orderQuantity
          }}
        </span>
        <span class="index-desc-value">
          {{
            orderQuantity * infoDialogData.data.currentPrice | currency: "USD"
          }}
        </span>
      </div>

      <button
        mat-raised-button
        class="buysell-button"
        color="primary"
        type="button"
        [disabled]="orderQuantity <= 0 || orderQuantity == null"
        (click)="onBuyIndex(orderQuantity)"
      >
        PURCHASE
      </button>
    </ng-template>
  </mat-tab>

  <mat-tab
    label="SELL"
    *ngIf="infoDialogData.data.quantity > 0"
    class="sell-tab"
  >
    <ng-template matTabContent>
      <mat-form-field class="" appearance="outline">
        <mat-label>Quantity</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="orderQuantity"
          required
          min="0"
          max="{{ infoDialogData.data.quantity }}"
          width="100%"
          placeholder="0"
        />
      </mat-form-field>

      <div
        *ngIf="orderQuantity > 0 && infoDialogData.data.currentPrice"
        class="index-desc-row"
      >
        <span class="index-desc-label"
          >{{
            (infoDialogData.data.currentPrice | currency: "USD") +
              "/unit × " +
              orderQuantity
          }}
        </span>
        <span class="index-desc-value">
          {{
            orderQuantity * infoDialogData.data.currentPrice | currency: "USD"
          }}
        </span>
      </div>

      <button
        mat-raised-button
        class="buysell-button"
        color="primary"
        type="button"
        [disabled]="
          orderQuantity <= 0 ||
          orderQuantity > infoDialogData.data.quantity ||
          orderQuantity == null
        "
        (click)="onSellIndex(orderQuantity)"
      >
        SELL
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>
