.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 50px 0;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  width: 95%;

  background-color: white;
  border-radius: 18px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.mat-paginator {
  border-radius: 18px;
}

table {
  margin: auto 10px;
}

.mat-column-name,
.mat-column-trade_type {
  font-weight: 500;
}

.buy {
  color: rgb(0, 123, 224);
}

.sell {
  color: rgb(212, 1, 194);
}
