<app-title titleText="Market Place"></app-title>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Stocks">
    <ng-template matTabContent>
      <app-market-bond-table [holdings]="userPortfolio.stockHoldings"></app-market-bond-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Mutual Funds">
    <ng-template matTabContent>
      <app-market-mf-table [holdings]="userPortfolio.mfHoldings"></app-market-mf-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Bonds">
    <ng-template matTabContent>
      <app-market-bond-table [holdings]="userPortfolio.bondHoldings"></app-market-bond-table>
    </ng-template>
  </mat-tab>
</mat-tab-group>
