<app-title titleText="Market Place"></app-title>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Stocks">
    <ng-template matTabContent>
      <app-market-stock-table
        [holdings]="marketAssets.marketStocks"
      ></app-market-stock-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Mutual Funds">
    <ng-template matTabContent>
      <app-market-mf-table
        [holdings]="marketAssets.marketMfs"
      ></app-market-mf-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Bonds">
    <ng-template matTabContent>
      <app-market-bond-table
        [holdings]="marketAssets.marketBonds"
      ></app-market-bond-table>
    </ng-template>
  </mat-tab>
</mat-tab-group>
