<!-- <code>{{ dataSource }}</code> -->
<div class="portfolio-overview">
  <div class="portfolio-card">
    <span class="portfolio-card-title">Total Investment:</span><br />
    <span class="portfolio-card-content">{{
      invested_amount | currency: "USD"
    }}</span>
  </div>
  <div class="portfolio-card">
    <span class="portfolio-card-title">Current Value:</span><br />
    <span class="portfolio-card-content">{{
      current_amount | currency: "USD"
    }}</span>
  </div>
  <div class="portfolio-card">
    <span class="portfolio-card-title"
      >Net {{ current_amount >= invested_amount ? "Profit" : "Loss" }}:</span
    ><br />
    <span
      class="portfolio-card-content"
      [ngClass]="{
        green: current_amount > invested_amount,
        red: current_amount < invested_amount
      }"
    >
      {{ current_amount - invested_amount | currency: "USD" }} ({{
        (current_amount - invested_amount) / invested_amount | percent: "1.2-2"
      }})
    </span>
  </div>
</div>

<div class="table-container">
  <mat-form-field>
    <input
      (keyup)="applyFilter($any($event.target).value)"
      matInput
      placeholder="Search"
    />
  </mat-form-field>
  <table
    matSort
    mat-table
    (matSortChange)="sortData($event)"
    [dataSource]="dataSource"
    class="data-table"
  >
    <ng-container matColumnDef="name">
      <th mat-sort-header="name" mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let e">{{ e.name }}</td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-sort-header="code" mat-header-cell *matHeaderCellDef>
        Stock Symbol
      </th>
      <td mat-cell *matCellDef="let e">{{ e.code }}</td>
    </ng-container>

    <ng-container matColumnDef="buy_price">
      <th mat-sort-header="buy_price" mat-header-cell *matHeaderCellDef>
        Price
      </th>
      <td mat-cell *matCellDef="let e">{{ e.buy_price | currency: "USD" }}</td>
    </ng-container>

    <ng-container matColumnDef="LTP">
      <th
        mat-sort-header="ltp"
        mat-header-cell
        *matHeaderCellDef
        matTooltip="Last Traded Price"
      >
        LTP
      </th>
      <td mat-cell *matCellDef="let e">{{ e.LTP | currency: "USD" }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-sort-header="quantity" mat-header-cell *matHeaderCellDef>
        Quantity
      </th>
      <td mat-cell *matCellDef="let e">{{ e.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="asset_class">
      <th mat-sort-header="asset_class" mat-header-cell *matHeaderCellDef>
        Asset Class
      </th>
      <td mat-cell *matCellDef="let e">{{ e.asset_class }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons
  ></mat-paginator>
</div>
