.table-area{
    width: 95%;
    margin-left: 2.5%;
    border: grey 2px solid;
    overflow: scroll;
}

.head{
    margin-left: 2.5%;
    font-weight: bolder;
    margin-top: 2%;
}

.overview{
    display: flex;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 20px;
    margin-top: 15px;
}
@media only screen and (max-width: 700px) {
  .overview{
    flex-direction: column;
  }
}
.child{
    flex:1;
    margin:0 10% 0 0;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.418);
}
.child:last-child{
    margin-right: 0;
}
h2,h4,h3{
    margin: 0;
}

h1{
    text-align: center;
}
.red{
  color:rgba(160, 7, 7, 0.877);
}

.green{
  color: rgb(7, 124, 42);
}

.bolder{
  font-weight: bolder;
}

.slide{
  overflow: overlay;
}

.table-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

table {
  width: 90%;
  margin: auto 10px;
}

.mat-column-name {
  font-weight: 500;
}
