<app-title titleText="Portfolio"></app-title>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Stocks">
    <ng-template matTabContent>
      <app-stock-table
        [holdings]="userPortfolio.stockHoldings"
        (openDialogEvent)="openDialog($event)"
      ></app-stock-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Mutual Funds">
    <ng-template matTabContent>
      <app-mf-table
        [holdings]="userPortfolio.mfHoldings"
        (openDialogEvent)="openDialog($event)"
      ></app-mf-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Bonds">
    <ng-template matTabContent>
      <app-bond-table
        [holdings]="userPortfolio.bondHoldings"
        (openDialogEvent)="openDialog($event)"
      ></app-bond-table>
    </ng-template>
  </mat-tab>
</mat-tab-group>
